body{background-color:yellow;}
h1{font-family:georgia; color:blue;}
#uname{width:20%}
#password{width:20%}
#user{font-size:15px; font-style:copperplate; color:orange;}
#pass{font-size:15px; font-style:copperplate; color:orange;}
