body{background-color:yellow;}
h1{font-family:georgia; color:blue;}
#uname{font-size:30px; font-style:Monaco; color:purple;}
#password{font-size:30px; font-style:Monaco; color:purple;}
#fname{font-style:courier; color:purple;}
#lname{font-style:courier; color:purple;}
#dob{font-style:courier; color:purple;}
#gender{font-style:courier; color:purple;}
#ph{font-style:courier; color:purle;}
#email{font-style:courier; color:purple;}

